.navbar{
	background: #F66262;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: #F66262;
}
/* =============================================================
  HEADER SECTION STYLES
 ============================================================ */
#header {
    background: url(../img/home.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: relative;
    color: #fff;
}
    #header .overlay {
        background-color: rgba(235, 80, 78, 0.8);
        min-height: 400px;
    }
    #header h1 {
        line-height: 60px;
        font-size: 45px;
        font-weight: 900;
        padding-top: 180px;
        padding-bottom: 35px;
        color: #FF2276;
    }
    #header h4 {
        line-height: 30px;
        font-size: 12px;
        padding-bottom: 40px;
        text-transform: uppercase;
    }
#services {
    background-color: rgba(0, 0, 0, 1);
    height: 300px;
    width: 100% 
    padding-bottom:20px;
}
#services h2 {
    color:#ffffff;
}
#services h3 {
    color: #783434;
}
#services h4 {
    color: #ffffff;
}
#services p{
    color: #783434;
}
.media h4{
    color:#ffffff;
}
.media img {
    margin-left: 30px;
    max-height: 75px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 2px solid #FF2276;
}
/*services the end*/
#services1{
    background-color: #6CC372;
    height: 500px;
    width: 100% 
}
#services1 h2{
     color:#ffffff;
}
#services1 img{
    margin-left: 5px;
    max-height: 140px;
    margin-bottom: 0px;
    margin-top: 5px;
    border: 2px solid #6CC372;
}
#section1 h3{
    font-size: 8px;
    color: #000;
    margin-top: 0px;

}
.photo{
    padding-top: 25px;
}
.photo h3{
    color: #6CC372;
}
.photo h6{
    color: #FF2276;
}
.box {
  padding: 10px;
  margin: 0px 20px;
  border: 1px solid #6CC372;
  background: #6CC372;
 color:#ffffff;
}
/*services1 the end*/
#section1{
    height: 500px;
    background: #F0F0F0;
    padding-top: 20px;
}
.swiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }

    .swiper-slide {
        text-align: center;
        margin-left: -100px;
        


        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide:nth-child(2n) {
        width: 40%;
    }
    .swiper-slide:nth-child(3n) {
        width: 20%;
    }
    #but .swiper-button-next{
        color:#FF2276;
    }
    #but .swiper-button-prev{
        color:#FF2276;
    }
    #box1  {
  padding: 6px;
  margin-right: 60px;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 0px;
  border: 1px solid #ffffff;
  background: #ffffff;
  float:initial;
} 

/*section1 the end*/
 #section2{ 
    max-width: 700px;
      height: 500px;
    background: #ffffff;
    margin: 0 auto;

}  
.pag p {
    color: #EB504E ;
    font-size: 25px;
    margin-top: 25px;
    text-align: -moz-center;

}

/*************** Pricing Tables ***************/
ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}
.container-outer {
    margin: 0 auto;
    width: 960px;
}

.pricing-table {
    -webkit-box-shadow: 0px 0px 3px #26292e;
    box-shadow: 0px 0px 3px #26292e;
    display: inline-block;
    margin-right: 40px;
    margin-right:40px;
    margin-bottom: 30px;
    margin-top: -106px;
    width: 250px;
}

    .featured {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    .pricing-table-header {
        background: #F0F0F0; /* Old browsers */
        /*/**/*//* IE6-9 */
        background-color: #F0F0F0;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        border-radius: 5px 5px 0px 0px;
        padding: 1px;
        text-align: center; 
    }

    .pricing-table-header h1 {
        color: #000;
        font-size: 14px;
        text-transform: uppercase;
    }
    .pricing-table-header h3 {
        color: #EB504E;
        font-size: 14px;
    }

    .pricing-table-content {
        background-color: #fff;
    }

    .pricing-table-content ul {
        list-style: none;   
    }

    .pricing-table-content ul li {
        border-bottom: 1px solid #efeff0;
        font-size: 14px;
        padding: 16px 56px;
    }

    .pricing-table-footer {
        background-color:#F0F0F0;
        -webkit-border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        border-radius: 0px 0px 5px 5px;
        padding: 16px 0;
    }


    .pricing-table-footer {
        text-align: center; 
    }

    .pricing-table-footer p {
        font-size: 12px;
        text-transform: uppercase;  
    }

    .pricing-table-footer a {
        background: #50b7e4; /* Old browsers */
        background: -moz-linear-gradient(top,  #50b7e4 0%, #3098c4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50b7e4), color-stop(100%,#3098c4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #50b7e4 0%,#3098c4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #50b7e4 0%,#3098c4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #50b7e4 0%,#3098c4 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #50b7e4 0%,#3098c4 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50b7e4', endColorstr='#3098c4',GradientType=0 ); /* IE6-9 */
        background-color: #3ea6d2;
        border: 1px solid #1481b0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        margin-top: 10px;
        padding: 10px;
        text-decoration: none;
    } 
/*section2 the end*/
#services3{
    background-color: #EB504E;
    height: 250px;
    width: 100%;
} 
.text h1{
    color: #ffffff;
    text-align: center;
}  
.text h3{
    text-align: center;
}
.left img{
    background: #000000;
    border:1px solid;
    border-radius: 100%;
    margin-top: 25px;
}
.right img{
    background: #000000;
    border:1px solid;
    border-radius: 100%;
    margin-top: 25px;
    float: right;
}
.twitt{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 20px;   
}  
.carousel-control {
    background: #222222 ;
    border: 3px solid #ffffff;
    border-radius: 23px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40px;
}  
.text1 p{
    text-align: center;
    color: #ffffff;
}
span{
    color:#000;
}
footer {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color:#000000;
    color: #ffffff;
}
.icon1 i {
   color: #ffffff;
   font-size: 25px; 
   border-color: 1px solid #EB504E;
   background: #EB504E;
   margin-right: 15px;
}